<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #f4f4f4;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #7d7d7d;
            width: 80%;
            text-align: center;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            /* Align at the top */
            min-height: 100vh;
            margin: 0;
        }

        .container {
            width: 80%;
            margin-top: 20px;
            /* Adjust the top margin as needed */
            text-align: center;
        }

        /* Center the form-container in registration section */
        .form-container {
            margin: auto;
        }

        /* Add any additional styling for welcome and registration sections */
        .welcome-section,
        .overview-section,
        .key-features-section,
        .benefits-section,
        .header {
            margin-bottom: 20px;
            /* Adjust the margin between sections */
        }

        /* lists */
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
            /* Adjust the margin between list items */
        }
    </style>
    <!-- Add your stylesheets and other head elements here -->
</head>

<body>

    <div class="container">
        <!-- Welcome Message -->
        <div class="welcome-section">
            <h1>Welcome to the Personalized Fitness Generator!</h1>
            <p>Your journey to a healthier lifestyle begins here. We're excited to help you achieve your fitness goals
                with our personalized and interactive platform.</p>
        </div>

        <!-- Overview -->
        <div class="overview-section">
            <h2>What We Offer:</h2>
            <p>Our web application empowers you to take control of your fitness journey by providing tailored
                recommendations based on your unique profile.</p>
        </div>

        <!-- Key Features -->
        <div class="key-features-section">
            <h2>Key Features:</h2>
            <ul>
                <li>Personalized Profiles: Create and manage your fitness profile with essential details like height,
                    weight, and age.</li>
                <li>Goal Selection: Choose from three distinct goals - Lose Weight, Maintain Weight, or Gain Weight.
                </li>
                <li>Fitness Recommendations: Receive personalized recommendations, including daily calorie intake and
                    macronutrient counts aligned with your chosen goal.</li>
                <li>User Engagement: Stay motivated with features like progress tracking, achievements, and a supportive
                    community.</li>
            </ul>
        </div>

        <!-- Benefits -->
        <div class="benefits-section">
            <h2>Benefits:</h2>
            <ul>
                <li>Customized Guidance: Tailored fitness plans based on your unique profile and goals.</li>
                <li>Motivational Support: Engage with a community of like-minded individuals, share your progress, and
                    stay inspired.</li>
                <li>Easy to Use: Our user-friendly interface ensures a seamless experience from profile creation to
                    receiving recommendations.</li>
                <li>Track Your Progress: Monitor your achievements and visualize your fitness journey with our progress
                    tracking features.</li>
            </ul>
        </div>

        <!-- Registration Section -->
        <div class="header">
            <h1>PFG Registration</h1>
            <p>Welcome to our community!</p>
        </div>

        <div class="form-container">
            <form action="/register" method="POST" class="form form-control" id="registerForm">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" name="firstName" placeholder="John" id="firstName" class="input-field" required>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" name="lastName" id="lastName" placeholder="Doe" class="input-field" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="john.doe@example.com" class="input-field" required>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="********" class="input-field" required>
                </div>

                <button type="submit" class="button">Register</button>
            </form>
        </div>

        <!-- Modal -->

        <div id="myModal" class="modal">
            <div class="modal-content">
                <p>Email already exists. Please choose a different email</p>
            </div>
        </div>

    </div>

    <a href="/login">Login</a>


</body>

<script>
    document.getElementById('registerForm').addEventListener("submit", async function(event){
        event.preventDefault(); // stops the form from the submission of data

        const formData = new FormData(this)
        const email = formData.get('email')
        const firstName = formData.get('firstName')
        const lastName = formData.get('lastName')
        const password = formData.get('password')
     
      
        // Make an AJAX request to check if email already exists

        const response = await fetch("/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({email, firstName, lastName, password})
        });
console.log("testing");
        const data = await response.json();
        console.log(data, "dddd");
        if(data.exists == true){
            // Show Modal
            const modal = document.getElementById("myModal");

            modal.style.display = "block";

            // Hide modal after 3 seconds

            setTimeout(() => {
                modal.style.display = "none";
                
            }, 10000); // 3000 means 3 SECONDS
        } else {
            // if email doesn't exist, submit the form
            this.submit();
            window.location.href="/login"
        }
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>

</html>